<h1>Create a Raw Material</h1>

<form method="POST" action="/raw_materials">
  <label for="chemical">Chemical</label></br>
  <input type="text" name="chemical"></br>

  <label for="company">Company</label></br>
  <input type="text" name="company"></br></br>

  <label for="company">Lot Number</label></br>
  <input type="text" name="lot_number"></br></br>

  <label for="company">Amount (kg)</label></br>
  <input type="text" name="amount"></br></br>

  <input type="submit" value="Create Raw Material">
</form>
