<div class="container">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Patua+One&family=Rubik+Mono+One&family=Sigmar+One&family=Syncopate&display=swap');
    </style>
  </head>

  <header>
    <div class="user">
      <h2>Create Raw Material</h2></br>
    </div>
  </header>

  <body>

    <form method="POST" action="/raw_materials">
      <input type="text" name="chemical" placeholder="Please enter the chemical name." class="button"></br>
      <input type="text" name="company" placeholder="Please enter the company name." class="button"></br>
      <input type="text" name="lot_number" placeholder="Please enter the lot number." class="button"></br>
      <input type="text" name="amount" placeholder="Please enter the amount in kilograms." class="button"></br>

      <input type="submit" value="Create Raw Material" class="submit">
    </form>

  </body>
</div>
