@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: #FFF9E8;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 500px;
    padding: 2.25%; /* 18px / 800px */
    width: 100%;
  }

  .container .welcome h1 {
    font-family: 'Playfair Display', serif;
    font-size: 150px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: -5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container .content p {
    text-align: justify;
    font-size: 12px;
    width: 100%; /* 480px / 800px */
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 95px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-left: -5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .button {
    height: 30px;
    width: 500px;
    text-align: center;
    margin: 5px;
  }

  .submit {
    height: 30px;
    width: 500px;
    margin: 5px;
  }

  .all_raw_materials h2 {
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-left: -5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .raw_materials {
    text-align: left;
    margin-left: 100px;
  }

  .main {
    overflow: hidden;
  }



  .branding {
    clear: both;
  }

  footer.branding {
    font-family: 'Playfair Display', serif;
    text-align: right;
    margin-top: 20px;
    padding-top: 20px;
  }

  .nav {
    text-align: center;
  }
}
