<h1><%= @user.username %>'s Showpage</h1>

<h3>View Your Chemicals</h3>

<% @raw_materials.each do |raw_material| %>
<% if raw_material.user == current_user %>
<%= raw_material.chemical %></br>
<% end %>
<% end %>
