<% if current_user == @user %>

<h1><%= @user.username.capitalize %>'s Showpage</h1></br>

<h3>View Your Chemicals</h3>

<% @raw_materials.each do |raw_material| %>
<% if raw_material.user == current_user %>
<%= raw_material.chemical %></br>
<% end %>
<% end %>

</br></br>
<a href="/raw_materials/new">Create Raw Material</a>


<% else %>
You are not authorized to view this page.
<% end %>

