<div class="container">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Patua+One&family=Rubik+Mono+One&family=Sigmar+One&family=Syncopate&display=swap');
    </style>
  </head>

  <header>
    <div class="user">
      <h2><%= @user.username.capitalize %>'s Showpage</h2></br>
    </div>
  </header>

  <body>
    <div class="user_chemicals">
      <% if current_user == @user %>
        <h3>View Your Chemicals</h3>

        <% user_chemicals = [] %>
        <% @raw_materials.each do |raw_material| %>
          <% if raw_material.user == current_user %>
            <% user_chemicals << raw_material %></a>
          <% end %>
        <% end %>

        <% if user_chemicals.empty? %>
          You have no submissions.
        <% else %>
          <% user_chemicals.each.with_index(1) do |raw_material,index| %>
          <%= index %>. <a href="/raw_materials/<%= raw_material.id %>"><%= raw_material.chemical %></a></br>
          <% end %>
        <% end %>
    </div>

        </br>
        <a href="/raw_materials/new">Create Raw Material</a>

      <% else %>
        You are not authorized to view this page.
      <% end %>

  </body>
</div>
