<div class="container">
  <head>

  <style>
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  </style>

  </head>
  <header><h1>Kanban</h1></header>
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <p>Kanban—which is the Japanese word for “billboard”—was developed by Toyota in the 1940s. It was originally a scheduling system to execute just-in-time manufacturing. It was designed to improve efficiency by limiting supplies and resources to what was needed for the immediate task. Today, kanban has expanded to all industries, most notably software development.</p>
    </div>

  </div>
</div>
