<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>What is Kanban?</h2>

    <div class="content">
      <p>Kanban—which is the Japanese word for “billboard”—was developed by Toyota in the 1940s. It was originally a scheduling system to execute just-in-time manufacturing. It was designed to improve efficiency by limiting supplies and resources to what was needed for the immediate task. Today, kanban has expanded to all industries, most notably software development.</p>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
